.trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
.trigger:hover {
    color: #1890ff;
  }
  
.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }
  
.site-layout .site-layout-background {
  background: #fff;
}
.app {
  height: 100vh;
}
.menu__item {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.ant-card-body{
    padding: 50px;
    padding-bottom: 0;
}
.login__btn{
    float: right;
}
.card__item{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    border-radius: 5px;
}
.sidebar__icon {
  font-size: 30px !important;
}